@import 'utilities/variables',
        'utilities/mixins', 'utilities/functions',
        'content/navigation.scss',
        'content/info.scss',
        'content/career.scss',
        'content/application.scss',
        'content/info-bottom.scss',
        'content/footer.scss';

// Main CSS

* {
    margin: 0;
    padding: 0;
    font-family: "Perpetua", sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom matches footer height */
  margin-bottom: $footer-height;
}

.no-padding {
    padding: 0 !important;
}

// @media(min-width: $break-s){}
// @include flexy ($wrap: no-wrap, $align: center, $just: center, $dir: column);