.jumbotron h2 {
  font-weight: normal;
  margin-bottom: 0.5em;
}

.footer {
  padding: 1rem;
}

.contact-cta {
  color: #fff;
}

.footer a:link    { color: #fff; }
.footer a:active  { color: #fff; }
.footer a:visited { color: #fff; }
.footer a:hover   { color: #fff; }

/*** Job Details ***/

.jd-job-header {
  background-color: #e3eaed;
  padding: 1rem;
  margin-bottom: 2rem;
}
