.nav-wrapper {
  background-color: #0F3753;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center; }

.logo img {
  width: 50px;
  position: relative;
  top: 2px;
  left: 10px; }

@media (min-width: 768px) {
  .menu {
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center; } }
@media (min-width: 992px) {
  .menu {
    width: 725px; } }

.menu a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 16px; }
  .menu a:hover {
    color: #639E29; }

#jobs {
  margin-right: 40px; }
  @media (min-width: 768px) {
    #jobs {
      margin-right: 0; } }

#process {
  margin-right: 125px; }
  @media (min-width: 768px) {
    #process {
      margin-right: 0; } }

#whyla {
  display: none; }
  @media (min-width: 768px) {
    #whyla {
      display: inline-block; } }

#faqs {
  display: none; }
  @media (min-width: 768px) {
    #faqs {
      display: inline-block; } }

#about {
  display: none; }
  @media (min-width: 768px) {
    #about {
      display: inline-block;
      margin-right: 50px; } }

#hamburger-menu {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #215B7A;
  padding: 23px 30px; }
  @media (min-width: 768px) {
    #hamburger-menu {
      display: none; } }

#navigation {
  width: 100%;
  position: absolute; }

.navi-wrap {
  text-align: right; }

#navigation ul {
  display: none;
  width: 100%;
  background-color: white; }

#navigation ul.open {
  display: block; }

#navi a {
  width: 100%;
  text-decoration: none;
  color: #0F3753; }
  #navi a:hover {
    color: white; }

#navi a li {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px; }

#navi-faqs {
  background-color: #E5EBEE; }
  #navi-faqs:hover {
    background-color: #0F3753; }

#navi-la:hover {
  background-color: #0F3753; }

#navi-about:hover {
  background-color: #0F3753; }

.first-content {
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
  background: #F6F8F9;
  padding-bottom: 40px; }

.text-wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center; }

.text-wrap h3 {
  color: #0F3753;
  font-weight: bold;
  font-size: 24px;
  position: relative;
  margin-top: 60px; }
  @media (min-width: 550px) {
    .text-wrap h3 {
      font-size: 30px; } }
  @media (min-width: 768px) {
    .text-wrap h3 {
      font-size: 40px; } }
  @media (min-width: 992px) {
    .text-wrap h3 {
      font-size: 48px; } }

.text-wrap p {
  color: #4A4A4A;
  width: 375px;
  position: relative;
  font-size: 14px;
  margin-top: 10px; }
  @media (min-width: 550px) {
    .text-wrap p {
      font-size: 18px; } }
  @media (min-width: 768px) {
    .text-wrap p {
      font-size: 36px;
      width: 80%; } }

.icon-wrap {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center; }
  @media (min-width: 550px) {
    .icon-wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: space-around;
      align-items: center;
      margin-top: 15px; } }

.icon {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center; }

.icon img {
  width: 130px;
  height: 123px; }
  @media (min-width: 768px) {
    .icon img {
      width: 190px;
      height: 180px; } }

.icon h4 {
  margin-top: 25px; }

.icon p {
  margin-top: 5px; }

#icon-2 {
  margin-top: 30px; }
  @media (min-width: 550px) {
    #icon-2 {
      margin-top: 0; } }

#icon-3 {
  margin-top: 30px; }
  @media (min-width: 550px) {
    #icon-3 {
      margin-top: 0; } }

.career-wrap {
  background-color: #E5EBEE;
  width: 100%;
  height: auto;
  overflow: auto; }

.search {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

.search input {
  width: 275px;
  height: 70px; }
  @media (min-width: 550px) {
    .search input {
      width: 350px; } }
  @media (min-width: 768px) {
    .search input {
      width: 600px; } }
  @media (min-width: 992px) {
    .search input {
      width: 714px; } }

.search input[value="Search opportunities"] {
  font-size: 20px;
  color: #0F3753;
  padding-left: 17px; }

.search a {
  color: white;
  text-decoration: none;
  padding: 22px 24px;
  background-color: #639E29;
  border-radius: 0 5px 5px 0; }

.career-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

.career-text h2 {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #0F3753; }
  @media (min-width: 550px) {
    .career-text h2 {
      font-size: 30px; } }
  @media (min-width: 768px) {
    .career-text h2 {
      font-size: 40px; } }
  @media (min-width: 992px) {
    .career-text h2 {
      font-size: 48px; } }

.career-text p {
  margin-top: 10px;
  font-size: 14px;
  color: #4A4A4A;
  width: 350px; }
  @media (min-width: 550px) {
    .career-text p {
      font-size: 18px; } }
  @media (min-width: 768px) {
    .career-text p {
      font-size: 36px;
      width: 80%; } }

.career-icons {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 550px) {
    .career-icons {
      max-width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; } }

@media (min-width: 768px) {
  .career-icons li {
    margin-left: 50px; } }

@media (min-width: 768px) {
  .career-icons:first-child {
    margin-left: 0 !important; } }

.a-wrap {
  background-color: #F6F8F9;
  overflow: auto;
  height: auto;
  width: 100%;
  padding-top: 40px; }

.a-text-wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

.a-text-wrap h2 {
  color: #0F3753;
  font-size: 24px;
  font-weight: bold; }
  @media (min-width: 550px) {
    .a-text-wrap h2 {
      font-size: 30px; } }
  @media (min-width: 768px) {
    .a-text-wrap h2 {
      font-size: 40px; } }
  @media (min-width: 992px) {
    .a-text-wrap h2 {
      font-size: 48px; } }

.a-text-wrap p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px; }
  @media (min-width: 550px) {
    .a-text-wrap p {
      font-size: 18px; } }
  @media (min-width: 768px) {
    .a-text-wrap p {
      font-size: 36px; } }

.slider-background {
  border: 1px solid grey;
  background: #748892; }

.slider-container {
  margin: 5%;
  background-color: #748892; }

ol.carousel-indicators {
  position: absolute;
  bottom: 14px;
  margin: 0;
  left: 0;
  right: 0;
  width: auto; }

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  float: left;
  width: 10px;
  height: 10px;
  margin: 10px;
  border-radius: 50%;
  border: 0;
  background: #D8D8D8;
  top: 40px; }

ol.carousel-indicators li.active {
  background: white; }

.reason {
  background: #F6F8F9;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

.reason h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px; }
  @media (min-width: 550px) {
    .reason h2 {
      font-size: 30px; } }
  @media (min-width: 768px) {
    .reason h2 {
      font-size: 40px; } }
  @media (min-width: 992px) {
    .reason h2 {
      font-size: 48px; } }

.reason p {
  font-size: 14px;
  margin-top: 10px; }
  @media (min-width: 550px) {
    .reason p {
      font-size: 18px; } }
  @media (min-width: 768px) {
    .reason p {
      font-size: 36px;
      width: 80%; } }

.difference {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .difference {
      margin-top: 30px;
      margin-bottom: 75px;
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: center;
      align-items: center; } }

.difference ul {
  margin-top: 20px; }
  @media (min-width: 768px) {
    .difference ul {
      margin-left: 10%; } }

.difference li {
  margin-top: 10px; }
  @media (min-width: 768px) {
    .difference li {
      font-size: 18px; } }
  @media (min-width: 992px) {
    .difference li {
      font-size: 36px; } }

footer {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%; }

.footer-wrap {
  /* Body has margin-bottom of this height as well */
  height: 300px;
  background: #304858;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: left; }

.footer-wrap ul {
  margin-top: 20px;
  margin-left: 35px;
  font-size: 14px; }
  @media (min-width: 768px) {
    .footer-wrap ul {
      font-size: 18px; } }

.footer-wrap ul li {
  list-style-type: none;
  margin-top: 5px; }

.footer-wrap ul li a {
  text-decoration: none;
  color: white;
  font-weight: 100; }
  .footer-wrap ul li a:hover {
    color: #639E29; }

.contact {
  font-size: 14px;
  margin-top: 20px;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: left;
  align-items: left; }
  @media (min-width: 768px) {
    .contact {
      font-size: 18px; } }

.contact a {
  text-decoration: none;
  color: white;
  font-weight: 100; }
  .contact a:hover {
    color: #639E29; }

#email {
  margin-top: 5px; }

.jumbotron h2 {
  font-weight: normal;
  margin-bottom: 0.5em; }

* {
  margin: 0;
  padding: 0;
  font-family: "Perpetua", sans-serif; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom matches footer height */
  margin-bottom: 300px; }

.no-padding {
  padding: 0 !important; }
