// footer 

footer {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-wrap {
    /* Body has margin-bottom of this height as well */
    height: $footer-height;
    background: #304858;
    overflow: hidden;
    @include flexy ($wrap: no-wrap, $align: left, $just: space-between, $dir: row
    );
}

.footer-wrap ul {
    margin-top: 20px;
    margin-left: 35px;
    font-size: 14px;
    @media(min-width: $break-m){
        font-size: 18px;
    }
}

.footer-wrap ul li {
    list-style-type: none;
    margin-top: 5px;
}

.footer-wrap ul li a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    &:hover {
        color: #639E29;
    }
}

.contact {
    font-size: 14px;
    margin-top: 20px;
    margin-right: 20%;
    @include flexy ($wrap: no-wrap, $align: left, $just: left, $dir: column
    );
    @media(min-width: $break-m){
        font-size: 18px;
    }
}

.contact a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    &:hover {
        color: #639E29;
    }
}

#email {
    margin-top: 5px;
}
