// Info

.first-content {
    position: relative;
    overflow: hidden;
    height: auto;
    width: 100%;
    background: #F6F8F9;
    padding-bottom: 40px;
}

.text-wrap {
    text-align: center;
    @include flexy ($wrap: no-wrap, $align: center, $dir: column);
}

.text-wrap h3 {
    color: $color-nav;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    margin-top: 60px;
    @media(min-width: $break-s){
        font-size: 30px;
    }
    @media(min-width: $break-m){
        font-size: 40px;
    }
    @media(min-width: $break-lg){
        font-size: 48px;
    }
}

.text-wrap p {
    color: #4A4A4A;
    width: 375px;
    position: relative;
    font-size: 14px;
    margin-top: 10px;
    @media(min-width: $break-s){
        font-size: 18px;
    }
    @media(min-width: $break-m){
        font-size: 36px;
        width: 80%;
    }
}

// Icons

.icon-wrap {
    position: relative;
    margin-top: 20px;
    @include flexy ($wrap: no-wrap, $align: center, $dir: column);
    @media(min-width: $break-s){
        @include flexy ($wrap: no-wrap, $align: center, $just: space-around, $dir: row);
        margin-top: 15px;
    }
}

.icon {
    @include flexy ($wrap: no-wrap, $align: center, $dir: column);
}

.icon img {
    width: 130px;
    height: 123px;
    @media(min-width: $break-m){
        width: 190px;
        height: 180px;
    }
}

.icon h4 {
    margin-top: 25px;
}

.icon p {
    margin-top: 5px;
}

#icon-2 {
    margin-top: 30px;
    @media(min-width: $break-s){
        margin-top: 0;
    }
}

#icon-3 {
    margin-top: 30px;
    @media(min-width: $break-s){
        margin-top: 0;
    }
}

#interview {
}