// Navigation CSS

nav {
}

.nav-wrapper {
    background-color: $color-nav;
    height: 70px;
    @include flexy ($wrap: no-wrap, $just: space-between, $align: center, $dir: row);
}

.logo img {
    width: 50px;
    position: relative;
    top: 2px;
    left: 10px;
}

.menu {
    @media(min-width: $break-m){
    width: 600px;
    @include flexy ($wrap: no-wrap, $just: space-between, $align: center, $dir: row);
    }
    @media(min-width: $break-lg){
    width: 725px;
    }
}

.menu a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 16px;
    &:hover {
        color: #639E29;
    }
}

#jobs {
    margin-right: 40px;
    @media(min-width: $break-m){
    margin-right: 0;
    }
}

#process {
    margin-right: 125px;
    @media(min-width: $break-m){
        margin-right: 0;
    }
}

#whyla {
    display: none;
    @media(min-width: $break-m){
        display: inline-block;
    }
}

#faqs {
    display: none;
    @media(min-width: $break-m){
        display: inline-block;
    }
}

#about {
    display: none;
    @media(min-width: $break-m){
        display: inline-block;
        margin-right: 50px;
    }
}

#hamburger-menu {
    position: absolute;
    right: 0;
    top:0;
    background-color: #215B7A;
    padding: 23px 30px;
    @media(min-width: $break-m){
        display: none;
    }
}

#navigation {
    width :100%;
    position: absolute;
}

.navi-wrap {
    text-align: right;
}

#navigation ul {
    display: none;
    width :100%;
    background-color: white;
}

#navigation ul.open {
    display:block;
}

#navi a {
    width :100%;
    text-decoration: none;
    color: $color-nav;
    &:hover {
        color: white;
    }
}

#navi a li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
}

#navi-faqs {
    background-color: #E5EBEE;
    &:hover {
        background-color: #0F3753;
    }
}

#navi-la {
    &:hover {
        background-color: #0F3753;
    }
}

#navi-about {
    &:hover {
        background-color: #0F3753;
    }
}