// Mixins //

@mixin flexy (
    $disp: flex,
    $dir: null,
    $wrap: null,
    $just: null,
    $align: null) {
        display: $disp;
        flex-direction: $dir;
        flex-wrap: $wrap;
        justify-content: $just;
        align-items: $align;
}

@mixin clear {
    content: "";
    clear: both;
    display:block;
}