// Variables //

// Colors //

$color-nav: #0F3753;

// Breakpoints //

$break-xs: 549px;
$break-s: 550px;
$break-sm: 600px;
$break-m: 768px;
$break-lg: 992px;
$break-xlg: 1200px;

// Gutter //

$gutter: 10px;

// Max-Width //

$max-width: 1000px;

// Footer //

$footer-height: 300px;